.seccionPerfil{
    border: 3px groove gray;
    border-radius: 2px;
    padding: -1px;
    background-image: url("https://th.bing.com/th/id/R.409e19c2b1293486ac1622193b92efe7?rik=OWUq%2fifqZKoyjw&pid=ImgRaw&r=0");
    text-align: center;
}

.fotoPerfil{
    width: 150px; 
    height: 100px;
    border-radius: 50px
    
}

.estiloTitulo{
    color: rgba(58, 56, 38, 0.767);
    font-family: 'courier';
    font-size: 250%;
    border: 3px groove gray;
    text-shadow: 2px 2px 4px #7547e0;
    text-align: center;
    letter-spacing: 1.5px;
    border: 2px dashed rgba(103, 123, 189, 0.76);
    background-image: url("https://th.bing.com/th/id/R.5d54309a520c86d6988acf448d0109cb?rik=gRPFCM4OHXczNA&pid=ImgRaw&r=0");
    

}

.fondoPagina{
    background-color: rgb(236, 230, 172);
}